.DS_Store
.vscode/

# package
**/node_modules/
yarn.lock
package-lock.json

# cache
__pycache__/
**/**/__pycache__

# venv
.venv/

# qiniu
.qiniu*

# static files
static/audio/*.mp3
static/image/*.jpg

# secure config
**/**/secure.py

# uwsgi
**/uwsgi/uwsgi*

# .env
.env

# useless test
playground.py
*.session.sql